<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="gDriveTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="OAuthToken"/>
    <add key="ClientId" value="yourClientId"/>
    <add key="ClientSecret" value="yourSecret"/>
    <add key="Scope" value="https://docs.google.com/feeds/ https://docs.googleusercontent.com/ https://spreadsheets.google.com/feeds/"/>
    <add key="RedirectURI" value="urn:ietf:wg:oauth:2.0:oob"/>
  </appSettings>
  <userSettings>
    <gDriveTest.Properties.Settings>
      <setting name="OAuthToken" serializeAs="String">
        <value />
      </setting>
    </gDriveTest.Properties.Settings>
  </userSettings>
</configuration>